<h1><strong>Resume Dashboard</strong>
    </h1>
<ul><li>
    <%= link_to 'Activity', new_activity_path %>
  </li><li>    <%= link_to 'Education', new_education_path %>
  </li><li>    <%= link_to 'Experience', new_experience_path %>
  </li><li>   <%= link_to 'Qualification', new_qualification_path %>
  </li></ul>