<h1><strong><b>James Woods</b></strong></h1>

<% if !@education.blank? %>
<h2>Education</h2>
<% @educations.each do |education| %>
<ul><li>
  <li> <%= render partial: ‘list’, locals: { education: @education } %> </li></ul>
<% end %>
<% end %>

<% if !@experience.blank? %>
<h2>Work Experience</h2>
<% @experiences.each do |experience| %>
<ul>
  <li> <%= render partial: ‘list’, locals: { experiences: @experiences } %></li></ul>
<% end %>
<% end %>

<% if !@activities.blank? %>
<h2>Activities and Projects</h2>
<% @activities.each do |activity| %>
<ul>
  <li> <%= render partial: ‘list’, locals: { activities: @activities } %> </li></ul>
<% end %>
<% end %>

<% if !@qualifications.blank? %>
<h2>Qualifications</h2>
<% @qualifications.each do |qualification| %>
<ul><li> <%= render partial: ‘list’, locals: { qualifications: @qualifications } %> </li></ul>
<% end %>
<% end %>